:root {
  --fontColor: #102c57;
  --font-size: 16px;
  --bgColor: #f8f0e5;
  --subTitleColor: #eadbc8;
}
/* Define the keyframes for the animation */
@keyframes colorChange {
  from {
    color: #dac0a3;
  }
  to {
    color: #f8f0e5; /* Change the color to your desired hover color */
  }
}
/*Color Palette 220330*/
html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
}
#bag-store-title {
  animation: colorChange 0.3s ease-in-out;
}
body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  background-color: var(--bgColor);
  color: var(--fontColor);
  max-width: 100%;
  border-radius: 0px 0px 7px 7px;
}
#wrapper {
  display: flex;
  text-transform: uppercase;
  margin: 10px;
  align-items: baseline;
  justify-content: center;
}
/* 
#right-sidebar {
  font-size: 1.5em;
  color: var(--fontColor);
}
#right-sidebar a {
  text-decoration: none;
  color: var(--fontColor);
  transition: color 0.5s;
}

#right-sidebar a:hover {
  color: #898b8a;
  border-bottom: 1px solid skyblue;
} */

#app {
  flex: 9;
  display: flex;
}

#menu {
  flex: 1;
}
#menu > ul > li > a {
  color: var(--fontColor);
  text-decoration: none;
}

#menu_title {
  color: var(--fontColor);
}
#main {
  flex: 6;
  /* background-image: url('images/background.jpg'); */
  background-position: center center;
  background-size: cover;
}

/*  cards */
.product-card {
  float: left;
  width: 340px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 30px 10px 10px 10px;
  background: #fafafa;
}

.product-pic img {
  max-width: 100%;
  max-height: 100%;
}

.product-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-details {
  padding: 30px;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--subTitleColor);
  margin-bottom: 18px;
}
.card-title {
  color: var(--fontColor);
  font-weight: bold;
  font-size: larger;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.5s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  /* color: var(--fontColor); */
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 60%;
}

.product-price {
  font-size: 15px;
  color: var(--fontColor);
  font-weight: 600;
}

/* menu */

#menu h1 {
  font-size: 2.3em;
}

#menu a:hover {
  text-decoration: none;
  color: #898b8a;
}

#menu li {
  padding: 2px;
}
.app li {
  color: var(--fontColor);
}
/**/
ul {
  color: var(--bgColor);
}

/*footer*/
#bottom {
  margin-top: 0.8em;
  text-align: right;
  color: var(--fontColor);
}
#bottom label {
  font-family: Roboto, sans-serif;

  font-size: 1.1em;
}
#bottom input {
  padding: 0.3em;
  font-size: 1.1em;
  border-radius: 0.25em;
}
input:focus {
  outline: 2px lightskyblue;
  color: #790c5a;
}

input[type="submit"] {
  background-color: var(--fontColor);
  color: var(--subTitleColor);
  text-align: left;
}
